<div class="relative">
  <div class="warp-sidenav">
    <app-side-profile></app-side-profile>
    <div class="menu">
      <button
        mat-button
        routerLink="/private/dashboard"
        routerLinkActive="active-link"
      >
        <div class="iconit">
          <fa-icon icon="tachometer-alt"></fa-icon>
        </div>
        <span>
          Dashboard
        </span>
      </button>
      <button
        mat-button
        routerLink="/private/files"
        routerLinkActive="active-link"
      >
        <div class="iconit">
          <fa-icon icon="file-alt"></fa-icon>
        </div>
        <span>
          Files
        </span>
      </button>
      <button
        mat-button
        routerLink="/private/news"
        routerLinkActive="active-link"
      >
        <div class="iconit">
          <fa-icon icon="newspaper"></fa-icon>
        </div>
        <span>
          News
        </span>
      </button>
      <button
        mat-button
        routerLink="/private/users"
        routerLinkActive="active-link"
      >
        <div class="iconit">
          <fa-icon icon="user-friends"></fa-icon>
        </div>
        <span>
          Users
        </span>
      </button>
      <button mat-button routerLink="/private/faq" routerLinkActive="active-link">
        <div class="iconit">
          <fa-icon icon="info-circle"></fa-icon>
        </div>
        <span>
          FAQ
        </span>
      </button>
      <button
        mat-button
        routerLink="/private/help"
        routerLinkActive="active-link"
      >
        <div class="iconit">
          <fa-icon icon="life-ring"></fa-icon>
        </div>
        <span>
          Help
        </span>
      </button>
      <button
        mat-button
        routerLink="/private/settings"
        routerLinkActive="active-link"
      >
        <div class="iconit">
          <fa-icon icon="cog"></fa-icon>
        </div>
        <span>
          Settings
        </span>
      </button>
    </div>
  </div>

</div>
